<header>
	<h1>About Our Store</h1>
</header>

<div class="container">
	<h3> Our Story </h3>
	<p>I start this business because I love to ride and folding the bike. Our store is based in California and I sell the variety of brand such as Dahon, Tern, Brompton Bikes. Quality is important to us, so we make sure very bike is well built and uses the lastest design and technology. </p>
	<%= image_tag("myfoldingbike.png", class:"img-responsive my-image") %>
</div>