<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
<%= image_tag("racingbike.png", class:"img-responsive my-image") %>
<%=link_to "Back to Homepage", root_path %>

