<table>
  <tbody>
    <tr>
      <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;"><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>