// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
  padding-top: 70px;
  padding-bottom: 60px;
  margin: 30px;
}

h1 {
	font-family: Futura, Helvetica, Arial, sans-serif;
	text-alignment: center;
}

//navbar
.navbar-default{
	.container-fluid {
		background-color: #b80b03;
		.navbar-nav > li >i{
			color: #ffffff;
			font-size: 1.5em;
			font-weight: bold;
			text-transform: uppercase;
			font-family: Roboto, Futura, sans-serif;
		}
	}
}

.my-image {
	display:inline-block;
	margin-bottom: 50px;
	height: 180px;
	width: 200px;
}


/* nav bar */
nav {
   clear: both;
   background-color: #aeaca8;
   height: 80px;
}

nav li {
	display: inline-block;
	
}
nav li a {
   color: #ffffff;
}	
nav li a:hover, nav li a.current {
	color: #000000;
}

.navbar-header, .nav-bar-header>a{
  	font-family: 'Fjalla One', sans-serif;
  	font-size: 1.5em;
  	color: #111111;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 10px;
}

.navbar-header>a:hover {
	color: orange;
	text-decoration: none;
	
}

.navbar-default .navbar-nav {
	margin-top: 15px;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	font-family: Roboto, Futura, sans-serif;
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #22adb7;
}

ul.navbar-right {
	margin: 0;
	position: relative;
}


// begin search form

.navbar-form {
	text-transform: uppercase;
	font-family: Roboto, Futura, sans-serif;
	margin-top: 0px;
}

.search-for {
	display: inline-block;
	color: #808080;
	font-size: 0.7em;
}

.search-button {
	background-color: white;
	border-color: #e4dfdf;
	border-style: double;
}

.form-control {
	width:100%;
	position: relative;
}

.search-button:hover {
	color: #22adb7;
}

// end search form

.footer {
	position: fixed;
  height: 50px; 
  background-color: black;
  width: 100%;
  bottom: 0;
  left: 0px
}

.container .text-muted {
	margin: 15px 0;
}
