// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: blue;
	font-family: Futura, Helvetica, Arial, sans-serif;
	text-alignment: center;
}

//navbar
.navbar {
	padding :10px;
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
}

.my-image {
	display:inline-block;
	margin-bottom: 50px;
	height: 200px;
	width: 300px;
}


.footer {
  height: 50px; 
  background-color: black;
  width: 100%;
  bottom: 0;
  position: fixed;
}



.container .text-muted {
	margin: 15px;
}
