// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// begin devise/registrations/new.html.erb

.form-signin-heading {
	text-align: center;
}
#sign-up-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

#sign-up-form .field {
	margin-top: 20px;
}

.field>label {
	margin-top: 30px;
	font-size: 1.15em;
}

.field>em {
	color: #844784;
	font-family: Roboto, Futura, sans-serif;
}



// end devise/registrations/new.html.erb