// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// begin devise/registrations/new.html.erb

.heading {
	
  	font-weight: normal;
  	font-family: Impact,Charcoal,sans-serif;
  	color: #004d80;
 	 
}

// end devise/registrations/new.html.erb