<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Bikes for Sale</h1>
  <p>
    Welcome to my folding bike shop.
  </p>
</div> <!-- /header -->

<div class="container-fluid">
  <div class="row">
  	<% cache (cache_key_for_products) do %>
    	<%= render @products %>
 		<% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>